body{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    margin-right: 25px;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.container{
    background: url(../images/tech.jpg);
    color: rgb(221, 255, 0);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 10px;
}
.cta{
    text-decoration: none;
    background-color: rgb(43, 43, 43);
    padding: 10px;
    border-radius: 5px;
}
.features{
    text-align: center;

}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}