body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}
h2{
    color: rgb(29, 199, 199);
    font-size: 30px;
}
form{
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
}
label{
    display: block;
    margin-bottom: 8px;
    color: #333;
}
input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}
.error{
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 16px;
    display: block;

}
input[type="submit"]{
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: orange;
}